* {
    box-sizing: border-box;
}

.cards {
    padding: 20px;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
}

.ca1 {
    margin-bottom: 5px;
}


.c1 {
    /* height: 100vh; */
    padding: 0;
}

.height {
    height: 15px;
}

img {
    background: #000000;
}

.infor {
    width: 100%;
    padding: 20px;
}

.pb1 {
    width: 80%;
}